<div class="left_content">
      <div class="title"><span class="title_icon"><img src="__PUBLIC__images/bullet1.gif" alt="" title="" /></span>Featured products</div>
     <foreach name='featPro' item='p'>
      <div class="feat_prod_box">
        <div class="prod_img"><a href="{:U('product/categoryInfo')}&id={$p.id}"><img src="{$p.thumb}" width='120' height='110' alt="" title="" border="0" /></a></div>
        <div class="prod_det_box">
          <div class="box_top"></div>
          <div class="box_center">
            <div class="prod_title">{$p.name}</div>
            <p class="details">{$p.ms_info}</p>
            <a href="{:U('product/categoryInfo')}&id={$p.id}" class="more">- more details -</a>
            <div class="clear"></div>
          </div>
          <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
      </div>
    </foreach>
    
      <div class="title"><span class="title_icon"><img src="__PUBLIC__images/bullet2.gif" alt="" title="" /></span>New products</div>
      <div class="new_products">
      <foreach name='newPro' item='n'>
        <div class="new_prod_box"> <a href="{:U('product/categoryInfo')}&id={$n.id}">{$n.name}</a>
          <div class="new_prod_bg"> <span class="new_icon"><img src="__PUBLIC__images/new_icon.gif" alt="" title="" /></span> <a href="{:U('product/categoryInfo')}&id={$n.id}"><img src="{$n.thumb}" width="120" height="110" alt="" title="" class="thumb" border="0" /></a> </div>
        </div>
       </foreach>        
      </div>
      <div class="clear"></div>
    </div>
    <!--end of left content-->