
    <div class="left_content">
      <div class="title"><span class="title_icon"><img src="images/bullet1.gif" alt="" title="" /></span>My account</div>
      <div class="feat_prod_box_details">
        <p class="details"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
        <div class="contact_form">
          <div class="form_subtitle">login into your account</div>
          <if condition="$_SESSION[user][username] neq ''">
			  <div style="line-height:25px;">
				  <li>hello,<a href="#">{$_SESSION.user.username}.</a>&nbsp;<a href="{:U('user/logout')}">logout</a></li>
				  <li><a href="{:U('order/index')}">My Order</a></li>
			  </div>
		  </if>
          <if condition="$_SESSION[user][username] eq ''">
          <form name="register" method="post" action="">
            <div class="form_row">
              <label class="contact"><strong>Username:</strong></label>
              <input type="text" name="username" class="contact_input" />
            </div>
            <div class="form_row">
              <label class="contact"><strong>Password:</strong></label>
              <input type="password" name="password" class="contact_input" />
            </div>
            <div class="form_row">
             <label class="contact"><strong>code:</strong></label>
             <input type="text" name="code" size="6" />
         	 <img src="{:U('public/verify')}" name="code" id="code"/>
           </div>
            <div class="form_row">
              <div class="terms">
                <input type="checkbox" name="terms" />
                Remember me </div>
            </div>
            <div class="form_row">
              <input type="submit" class="register" value="login" />
            </div>
          </form>
          </if>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!--end of left content-->
    <script>
    	$(function(){
    		$('#code').click(function(){
    			var src = $(this).attr('src')+'&'+Math.random(); 
    			//alert(src);
    			$(this).attr('src',src);
    		})
    	})
    </script>